body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-x: hidden;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

div{
    display: block;
}

#div_banner{
    height: 400px;
    background-image: url(pictures/pic01.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
}

#card01{
    background-color: 	rgb(64, 64, 64);
    height: 400px;
    width: 100%;
}

#card02{
    background-color: rgb(13, 13, 13);
    height: 400px;
    width: 100%;
}

#card03{
    background-color: 	rgb(64, 64, 64);
    height: 700px;
    width: 100%;
    
}

#card04{
    background-color: rgb(13, 13, 13);
    height: 400px; 
    width: 100%;
}

#undernav01{
    color: white;
    text-align: left;
}

#undernav02{
    color: white;
    text-align: right;
}



#navigationcard_left{
    font-size: 150%;
    float: left;
    width: 20%;
    display: inline;
    margin: 2%;
}

#navigationcard_right{
    float: right;
    width: 40%;
    display: inline;
    margin: 2%;
}

#kezdolap_text{
    text-decoration: none;
    font-weight: bold;
}

#card01_left{
    padding: 1%;
    margin-left: 15%;
    margin-top: 1%;
    float: left;
    width: 20%;


}

#card01_right{
    padding: 1%;
    margin-right: 15%;
    margin-top: 3%;
    float: left;
    width: 40%;


}



#tortenetunk_text{
    margin-left: 62%;
}

#menu_text{
    text-align: center;
    font-weight: bold;
    margin: auto;
}

#menu_div{
    width: 100%;
    padding: 1%;
    margin: auto;
}

#ajanlatunk_text{
    width: 30%;
    font-size: 150%;
    text-align: center;
    margin: auto;
    font-weight: 100;
}

#menu_altext{
    width: 70%;
    text-align: center;
    margin: auto;
}

#panelek{
    width: 80%;
    text-align: center;
    margin: auto;
    border: 1px white;
    padding: 25px;
}

.alpanelek{
    display: inline;
    border: 1px;
    border-style: solid;
    border-color: white;
    height: 50px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 2%;
    margin-right: 2%;
}

#special_text{
    text-align: center;
    font-weight: bold;
    padding: 1%;
    margin: 0%;
}

#izek_text{
    width: 30%;
    font-size: 150%;
    text-align: center;
    margin: auto;
    font-weight: 100;
}









#kepek_outer_div{
    margin: 2%;

}



#kepek_left_div{
    width: 40%;

}

#kepek_left_top_div{
    width: 100%;
    height: 100%;
    background-position: center;

}


#kepek_left_bottom_div{

}

#kepek_left_bottom_left_div{
    display: inline;

}

#kepek_left_bottom_right_div{
    display: inline;

}





#kepek_right_div{
    width: 30%;
    display: inline;

}

#kepek_right_top_div{
    display: inline;

}

#kepek_right_bottom_div{

}



#pic1{
    width: 70%;
    height: 70%;
}

#pic3{
    width: 35%;
    height: 35%;
}

#pic4{
    width: 35%;
    height: 35%;
}

#pic2{
    width: 20%;
    height: 20%;
}




